body {
	font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
	font-size: 16px;
	line-height: 40px;
}
table {
	margin: 0 auto;
	height: 600px;
	text-align: center;
	border: 1px solid #666;
	border-collapse: collapse;
}
table caption {
	font-size: 30px;
	padding: 20px;
}
table th,
table td {
	padding: 0 80px;
	border: 1px solid #fff;
}
table th {
	background-color: #66A9BC;
}
.even {
	background-color: #D4E9EE;
}